.footer {
    background: linear-gradient(rgba(10,2,82,1), rgba(53,171,194,1));
    color: #fff;
    padding: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.footer ul li {
    display: inline-block;
    margin-right: 32px;
    transition: 0.5s ease;
    color: white;
}

.footer ul:hover li a {
    color: rgba(10,2,82,1);
}

.footer ul:hover li a:not(:hover) {
    color: white;
    opacity: 0.3;
    filter: blur(1px);
}

.footer ul li:last-child {
    margin-right: 0;
}


.footer .trademark:last-child {
    margin-left: 240px;
    margin-right: 180px;
}

.shotcaller {
    aspect-ratio: 5/3;
    object-fit: contain;
    display: flex;
    justify-content: center;
    width: 95%;
    height: auto;
}

.trademark {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 9px;
}

@media screen and (max-width: 768px) {
    .footer {
        display: flex;
        align-items: center;
        justify-content: space-around;
        flex-flow: column wrap;
    }

    .shotcaller {
        display: inline-block;
        align-self: center;
        aspect-ratio: 9/6;
        margin-left: 30px;
    }

    .trademark {
        display: none
    }
}